@model FreeBooks.Models.Livros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anuncio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anuncio.IdAnuncio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oferta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oferta.IdOferta)
        </dd>
    </dl>
</div>
<table>
    @foreach (var img in Model.Fotos)
    {
        <tr>
            <img src="~/Fotos/@img.Foto" with="64" height="64" alt="@img.Foto" title="@img.Foto">
        </tr>
    }
</table>



<div>
    <a  asp-area="" asp-controller="Livros" asp-action="Index">Back to Livros</a>
</div>
