@model IEnumerable<FreeBooks.Models.Fotos>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Lista das Imagens do Livro:
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            @*
            @if(item == Model.First())
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Fotos" asp-action="CreateFotos"  asp-route-id="@item.Livros.IdLivro" >
                            <h2>+ Foto</h2>
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Fotos" asp-action="CreateGalerias"  asp-route-id="@item.Livros.IdLivro" >
                            <h2>+ Lista de Fotos</h2>
                        </a>
                    </td>
                </tr>
            }
            *@
            <tr>
                 <td>
                    @* display item's Foto*@
                    @if (!string.IsNullOrEmpty(item.Foto)) {
                        <a href="~/Fotos/@item.Foto" target="_blank">
                            <img src="~/Fotos/@item.Foto"
                            alt="Foto of item: @Html.DisplayFor(modelItem => item.Foto)"
                            title="@item.Foto"
                            height="50" />
                        </a>
                    }
                    else {
                        <img src="~/Fotos/@item.Foto"
                        alt="Foto of item: @Html.DisplayFor(modelItem => item.Foto)"
                        title="@item.Foto"
                        height="50" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFoto" asp-route-id="@item.LivroFK" >Edit</a>
                     | <a asp-action="Details" asp-route-id="@item.IdFoto" asp-route-id="@item.LivroFK" >Details</a>
                    @* | <a asp-action="Delete" asp-route-id="@item.IdFoto" asp-route-id="@item.LivroFK" >Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a  asp-area="" asp-controller="Livros" asp-action="Index">Back to List</a>
</div>
