@model IEnumerable<FreeBooks.Models.Fotos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Galeria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*  display vets Foto  *@
                @*  there are teo different ways to access vets data
                    a)  using html helpers:  @Html.DisplayFor(modelItem => Vets.Foto)
                    b)  using foreeach intrenal variable Vets
                *@
                @if (string.IsNullOrEmpty(item.Foto))
                {
                    @*@Html.DisplayFor(modelItem => item.Foto)*@
                    <a><img src="~/Fotos/@item.Foto" alt="Foto: @Html.DisplayFor(modelItem => item.Foto)" 
                     height="50" /></a>
                } else
                {
                     @*@Html.DisplayFor(modelItem => item.Foto)*@
                     <img src="~/Fotos/@item.Foto" alt="Foto: @Html.DisplayFor(modelItem => item.Foto)" 
                     height="50" />
                        
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Galeria.IdGaleria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFoto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFoto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFoto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
