@model IEnumerable<FreeBooks.Models.Ofertas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anuncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anuncio.IdAnuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transacao.IdTransacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOferta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOferta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOferta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
